node_modules/
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
setup_github_secrets.ps1
.DS_Store
.env
.env.local
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
android/
ios/
