DATABASE_URL="postgresql://user:password@host:5432/darrovgo?schema=public"
JWT_SECRET="darrovgo_super_secret_key_2026"
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_ADMIN_CHAT_ID="your_admin_chat_id"
PORT=3000
